.awesome {
    max-width: 1400px;
    height: 590px;
    margin: auto;
    background: $white;
}

.awesome h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 98px;
}

.awesome img {
    width: 100%;
    width: 64px;
    height: 2px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.awesome p {
    font-size: 14px;
    text-align: center;
    color: $grey;
    margin-top: 26px;
}

.award {
    width: 100%;
    max-width: 980px;
    height: 200px;
    margin: auto;
    display: flex;
    margin-top: 65px;
    gap: 97px;
}

.design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design i {
    width: 50px;
    height: 50px;
    border: 1px solid $orange;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $orange;
    margin-bottom: 35px;
    animation: move 0.1s infinite alternate linear;

    &:hover {
        animation-play-state: paused;
      cursor: url(../images/img2.png), pointer;
    }
}

@keyframes move {
    from {
        transform: translatex(0px);
        // transform: translatex(0px);

    }
    to {
        // transform: translateY(50px);
        transform: translatex(2px);
    }
}

.design h5 {
    font-size: 20px;
    font-weight: normal;
    color: #333333;
}

@media (max-width: 1050px) {
    .award {
        display: flex;
        flex-direction: column;
        width: 280px;
        gap: 20px;
        margin-top: 25px;
    }

    .awesome {
        height: 770px;

        h1 {
            padding-top: 30px;
        }
    }

    .design i {
        margin-bottom: 10px;
    }

    
}