.explain {
    max-width: 1400px;
    height: 639px;
    background-image: url(../../app/images/img1.png);
    background-position: 0% 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
  }

  .exp {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  
  .explain .img1 {
    width: 246px;
    height: 107px;
  }

  .explain .img2 {
    width: 84px;
    height: 22px;
    display: block;
    position: relative;
    right: 10px;
  }
  
  .explain h1 {
    width: 426px;
    height: 87px;
    font-size: 36px;
    color: $white;
  }
  
  .explain h2 {
    width: 84px;
    height: 22px;
    color: $white;
    text-align: left;
  }
  
  .explain p {
    max-width: 651px;
    height: 65px;
    font-size: 16px;
    color: $white;
    text-align: left;
  }
  
  .download {
    cursor: url(../images/img2.png), pointer;
    width: 135px;
    height: 42px;
    color: $white;
    border: 2px solid $white;
    background: transparent;
    transition: 0.2s;

    &:hover {
      transform: translate(5px, -5px);
      box-shadow: 0px 1px 8px 5px $white;
      color: $white;
    }
  }
  
  .table {
    width: 360px;
    height: 424px;
    box-shadow: 0px 5px 20px #00000029;
  }
  
  .table h2 {
    width: 360px;
    height: 57px;
    background: #F5F5F5;
    margin-left: 0px;
    color: $black1;
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    padding-top: 17px;
    padding-left: 50px;
  }
  
  .table span {
    color: $orange;
  }
  
  form {
    width: 360px;
    height: 310px;
    background: $white;
  }
  
  .table form h4 {
    padding-top: 30px;
    margin-left: 51px;
    margin-bottom: 7px;
    font-size: 16px;
    color: $black;  
  }
  
  .ivesti {
    width: 255px;
    margin-left: 51px;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 7px;
    padding: 7px;
  }
  
  .table form h3 {
    margin-left: 51px;
    margin-top: 25px;
    font-size: 16px;
  }
  
  .set {
    font-size: 9px;
  }
  
  .type {
    margin-left: 51px;
    margin-top: 20px;
  }
    
  .get {
    cursor: url(../images/img2.png), pointer;
    width: 360px;
    height: 57px;
    background: #41D395;
    border-radius: 0px 0px 5px 5px;
    border: none;
    font-size: 18px;
    color: $white;

    &:hover {
      background: $white;
      color: $green;
      font-weight: bold;
      border: 2px solid $green;
    }
  }