footer {
    max-width: 1400px;
    height: 123px;
    background: $black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social1 {
    display: flex;
    gap: 100px;
    // justify-content: start;
}

.social1 img {
    height: 20px;
}

.social1 i {
    cursor: url(../images/img2.png), pointer;
    color: $orange;
    opacity: 0.7;

    &:hover {
    opacity: 1;
    }
  }
  
  footer p {
    font-size: 18px;
    color: $white;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: space-evenly;

        .social1 {
            gap: 50px
        }
    }
  }