// swiper css
.swiper {
    width: 320px;
  }

.saying {
    max-width: 1400px;
    height: 590px;
    margin: auto;
}

.saying h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    padding-top: 98px;
}

.paddingBox {
    width: 64px;
    height: 10px;
    margin: auto;
    border-bottom: 2px solid $blue;
    margin-top: 31px;
}

.swiper-wrapper {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.swiper-pagination {
    position: relative;
    top: -20px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: $orange;
}

.people {
    width: 276px;
    height: 240px;
    margin: auto;
}

.chat {
    position: relative;
    width: 276px;
    max-height: 150px;
    background: $blue;
    border-radius: 8px;

}

.chat::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: $blue;
    top: 90%;
    left: 10%;
    transform: rotateZ(45deg);
}

.chat p {
   color: $white; 
   padding: 20px;
   letter-spacing: 0.5px;
   line-height: 130%;
}

.avatar {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40px 30px;
    margin-top: 19px;  
}

.avatar img {
    grid-row: span 2;
}

.avatar h3 {
    display: flex;
    align-items: center;
    color: $black1;
    font-weight: normal;
    font-size: 20px;
}

.avatar p {
    color: $grey;
    font-size: 14px;
}

@media (min-width: 900px) {
    .swiper {
        width: 100%;
        max-width: 1300px;
    }   
}
