@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import 'color';
@import 'nav';
@import 'reset';
@import 'explain';
@import 'social';
@import 'tabs';
@import 'erat';
@import 'awesome';


